@font-face {
	font-family: "AvenirNextLTPro-Regular";
	src: url('fonts/AvenirNextLTPro-Regular.eot') format('embedded-opentype'),
	url('fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face {
	font-family: "AvenirNextLTPro-Bold";
	src: url('fonts/AvenirNextLTPro-Bold.eot') format('embedded-opentype'),
	url('fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}
body {
	min-width:1280px;
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}
.header {
	width: 100%;
	height: 540px;
	background: url(img/header.png) no-repeat center center;
	background-size: cover;
	text-align: center;
}
nav {
	width: 100%;
	height: 70px;
	background-color: rgba(12, 24, 38, 0.4);
}
nav .navbar {
	list-style: none;
	margin-top: 0px;
	padding-top: 24px;
}
.navbar li {
	display: inline;
	color: #fff;
	padding: 10px;
	padding-right: 60px !important;
}
.prime{
	padding-left: 40px !important;
	font-family: AvenirNextLTPro-Regular;
	font-size: 11pt;
}
.phone_header{
	background-image: url(img/icon.png);
	background-position: left;
	background-repeat: no-repeat;
}
.phonering_header {
	background-image: url(img/iconring.png);
	background-position: left;
	background-repeat: no-repeat;
}
.email {
	background-image: url(img/email.png);
	background-position: left;
	background-repeat: no-repeat;
}
.info {
	height: 100%;
	margin-left: 52%;
	width: 30%;
	color: #fff;
}
.info h2{
	margin-top: 25%;
	margin-bottom: 0px;
	font-size:40pt;
	font-family: AvenirNextLTPro-Bold;
	font-size: 40pt;
	letter-spacing: 4px;
}
.info p{
	font-family: AvenirNextLTPro-Regular;
	font-size: 12pt;
	letter-spacing: 1pt;
	padding-bottom: 10pt;
	margin-bottom: 20pt;
}
.container div{
	width: 500px;
	display: inline;
	padding-left:30px;
	padding-right: 30px;
	padding:20px;
}
.map img{
	background: no-repeat center center;
	background-size: cover;
	width: 100%;
}

.description_container {
	width: 960px;
	margin: auto;
	height: 550px;
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
}

.confortabil {
	float: left;
	width: 33%;
}
.img{
	width: 250px;
}
.gif_container {
	height: 65px;
	vertical-align: bottom;
}
.h4er {
	color: #435468;
	font-family: AvenirNextLTPro-Bold;
	font-size: 15px;
}
.pinfo {
	width: 250px;
	margin: auto;
	position: relative;
	color: #555555;
	font-family: AvenirNextLTPro-Regular;
	font-size: 15px;
	line-height: 22px;
	height: 90px;
	text-align: justify;
}
.sigur {
	display: inline-block;
	width: 33%;
}
.rapid {
	float:right;
	width:33%;
}

.footer {
	width: 100%;
	text-align: center;
}
.footer_container {
	min-width:980px;
	width: 100%;
	height: 70px;
	background-color: rgba(12, 24, 38, 1);
}
.footer_container .footer_info {
	list-style: none;
	margin-bottom: 0px;
	padding-top: 24px;
}
.footer_info li {
	display: inline !important;
	color: #fff;
	padding: 10px;
	padding-right: 60px !important;
}